<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<title>Lista de Compras</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
	</head>
	<body>
		<div id="conteudo-principal">
			{% include 'partials/lista_comprar.html' %}
		</div>

		<script>
			document.body.addEventListener('htmx:beforeRequest', function (evt) {
				console.log(
					'🚀 HTMX enviando requisição para:',
					evt.detail.pathInfo.path,
				);
			});
			document.body.addEventListener('htmx:afterRequest', function (evt) {
				if (evt.detail.failed) {
					console.error('❌ Erro na requisição HTMX:', evt.detail.xhr.status);
				}
			});
		</script>
	</body>
</html>
